.card {
  background: hsl(225, 23%, 24%);
  padding: 16px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: hsl(226, 11%, 37%);
  font-family: sans-serif;
}

.title {
  color: hsl(200, 60%, 99%);
}

.body {
  color: hsl(0, 0%, 78%);
}

.flex {
  display: flex;
}

.logo {
  padding-right: 5px;
  width: 50px;
}

.button {
  border-radius: 15px;
  background: hsl(225, 23%, 24%);
  border-style: solid;
  border-width: 2px;
  border-color: hsl(226, 11%, 37%);
  color: white;
  padding: 7px;
  margin-top: 20px;
  align-self: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  border-radius: 17px;
  margin-left: auto;
  align-self: flex-end;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

input:checked + .slider {
  background-color: hsl(3, 86%, 64%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(3, 86%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.cardLight {
  background: hsl(200, 60%, 99%);
  padding: 16px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 78%);
  font-family: sans-serif;
}

.titleLight {
  color: hsl(227, 75%, 14%);
}

.bodyLight {
  color: hsl(226, 11%, 37%);
}

.buttonLight {
  border-radius: 15px;
  background: hsl(200, 60%, 99%);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 78%);
  color: hsl(227, 75%, 14%);
  padding: 7px;
  margin-top: 20px;
  align-self: flex-end;
}

.switchLight {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  border-radius: 17px;
  margin-left: auto;
  align-self: flex-end;
}

.switchLight input {
  display: none;
}

.sliderLight {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(226, 11%, 37%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

.sliderLight:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 17px;
}

input:checked + .sliderLight {
  background-color: hsl(3, 77%, 44%);
}

input:focus + .sliderLight {
  box-shadow: 0 0 1px hsl(3, 77%, 44%);
}

input:checked + .sliderLight:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
